<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <!-- 첫번째 인스턴스 -->
    <div id="app">
        {{key}} {{key2}} 
        <br>
        <b>{{message}}</b>
        <br>

        <!-- 아래 코드 추가하면 양방향 -->
        <input type="text" v-model="message">

        <!-- 아래 두 줄은 출력 결과 상이 -->
        <div v-html="htmlString"></div>
        <div>{{htmlString}}</div>
        <br>

        <!-- 이벤트 리스너를 이용해 메서드 호출 -->
        <button @click="myFunc">클릭</button>
        <button @click="myChange1">변경 1</button>
        <button @click="myChange2">변경 2</button>
        <br>
        <br>

        <!-- 숫자 더하기 -->
        <!-- v-model : 양방향이다~ -->
        <input type="text" size="5" v-model.number="su1"> + 
        <input type="text" size="5" v-model.number="su2"> = 
        <span>{{su1 + su2}}</span>
        <br>
        <img v-bind:src="daumLogo" style="width: 100px; height: auto;"/>

    </div>


    <br>
    <br>
    <!-- 두번째 인스턴스 -->
    <div id="app2">
        <select>
            <option v-bind:value="buser.bunho" v-for="(buser, index) in busers" :key="index">
                {{buser.irum}}  {{buser.junhwa}}
            </option>
        </select>
        <br>
        <br>
        <table border="1">
            <thead>
                <tr>
                    <th>부서번호</th>
                    <th>부서명</th>
                    <th>전화번호</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(buser, index) in busers" :key="index">
                    <td>{{buser.bunho}}</td>
                    <td>{{buser.irum}}</td>
                    <td>{{buser.junhwa}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <span v-bind:style="cssStyleTest">컨텐츠 스타일 바인딩</span>
        <button @click="cssStyleTest.fontSize='30px'">글자 크기 확대</button>
    </div>
    <br>
    <br>
    <!-- 세번째 인스턴스 -->
    <div id="app3">

    </div>

    <!-- 각 뷰 인스턴스를 js 파일로 작성 후 연결 -->
    <script src="ex8js1.js"></script>

    <!-- SyntaxError: Identifier 'createApp' has already been declared -->
    <!-- 
    createApp 선언이 여러 개 - 식별자 충돌 에러
    IIFE(Immediately Invoked Function Expression)로 Vue 인스턴스를 감싸주면 식별자 충돌 문제를 해결할 수 있다
    -->
    <script src="ex8js2.js"></script>
    <script src="ex8js3.js"></script>
</body>
</html>